---
import { RedocStandalone } from 'redoc'
---

<html lang="en">
  <head>
    <title>Primis Nexus API v1 Docs</title>
  </head>
  <body>
    <RedocStandalone specUrl="/openapi-v1.yaml" />
  </body>
</html>
